footer {
    background-color: #485260;

}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;


}

#brand-logo {
    width: 60px;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

span {
    font-size: 12px;
    margin-left: 40px;
}

span a:hover {
    color: #728ea7;
    font-weight: 500;
    transition: all 0.3s;
}