* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d3143;
    font-family: montserrat;
    color: white;
}

a {
    text-decoration: none;
    color: white
}

section#articles {
    margin: 4rem auto;
    padding: 0 2rem;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}
