section#articles img {
    width: 275px;
    border-radius: 5px;
}

article {
    display: flex;
    gap: 1rem;
}

article h2 {
    margin-bottom: 2rem;
    font-size: 18px;
}

article h3 {
    color: #8695a4;
    font-weight: 600;
}

article p {
    color: #8695a4;
    font-size: 15px;
}

button{
    height: 25px;
    width: 60px;
    font-size: 12px;
    border: solid 2px;
    border-radius: 12px;
    background: #2d3143;
    border-color: #c390d0;
    color: #c390d0;
}

button:hover {
    border-color: #e694fa;
    color: #e694fa;
    transition: all ease-in 0.3s;
}

article .secondary {
    display: flex;
    gap: 0.5rem;
    margin: 1rem auto;
    align-items: center;
}
